{% extends "master.html" %}

{% block content %}

<h2>Resources</h2>
<h4>Players</h4>
<p>All players mentioned below play a wide variety of common formats. All are free for standard playback. </p>
<ul>
  <li><a href="http://www.apple.com/quicktime/" target="_blank">Quicktime</a></li>
    <ul>

      <li>Apple's media player primarily used for MP3, MPEG-4 and .MOV as well as WMV and WMA using Flip4Mac (see below). Second most widely distributed media player and has become especially popular since the rise of the<a href="http://www.apple.com/ipod/" target="_blank"> iPod</a> and <a href="http://www.apple.com/itunes/">iTunes</a>. iTunes (a popular media jukebox software linked with the iPod) is built on QT. </li>
    </ul>
  <li><a href="http://www.microsoft.com/windows/windowsmedia/default.mspx" target="_blank">Windows Media
    Player
    </a>
    <ul>
      <li>Most widely installed due to it's inclusion in the Windows OS. Primarily assoicated with WMV, WMA, ASF and ASX. Versions exist for Mac, but it's  widely regarded as being very poor.</li>

    </ul>
  </li>
  <li><a href="http://www.real.com/" target="_blank">Real Player</a> (Not Supported By Our Server)
    <ul>
      <li>Real Networks is widely regarded as having invented streaming media as we know it (though that's a point worth debating). Their player has been troublesome in the past, and is not terribly well regarded in the community despite some major improvements recently. Their player is mostly associated with RM and RAM files. </li>
    </ul>
  </li>
  <li><a href="http://www.videolan.org/vlc/" target="_blank">VLC</a>

    <ul>
      <li>VLC is an open source media player that can play practically all formats listed above as well as having the ability to re-encode files and stream them straight from your own desktop. It's distribution is quite low however. </li>
    </ul>
  </li>
</ul>
<h4>Plugins</h4>
<p>Mostly extends the ability to play certain formats. In some cases it also adds additional capabilities.</p>

<ul>
  <li><a href="http://www.flip4mac.com/wmv_download.htm" target="_blank">Flip4Mac</a>
    <ul>
      <li>Let's Quicktime for the Mac player Windows Media files for free. This is the preferred method over using the Mac version of Windows Media Player. $30 unlocks the ability to export from QT based apps to WMV and WMA.</li>
    </ul>
  </li>
  <li> <a href="http://www.apple.com/quicktime/pro/win.html" target="_blank">Quicktime Pro</a>

    <ul>
      <li>A $30 serial number unlocks the ability of Quicktime player to edit footage and export to additional formats. </li>
    </ul>
  </li>
  <li><a href="http://www.3ivx.com/" target="_blank">3ivx</a>
    <ul>
      <li>$10 to add the ability to play .mp4 files directly in Windows Media Player. </li>
    </ul>

  </li>
</ul>

{% endblock %}
