{% extends "master.html" %}

{% block content %}
  
<h3>Welcome to JMUtube</h3>
<p>If you're reading this then you've found your way to JMUtube, the <a href="http://cit.jmu.edu/">CIT's</a> new site for the faculty and staff of JMU to store and deliver media for the JMU community. Currently the site is limited to just video, but stay tuned for many updates in the near future that will add support for audio, images, and even <a href="http://www.adobe.com/products/presenter/" target="_blank">Adobe Presenter</a> presentations.</p>

<p>Hope you enjoy the site.</p>

<h3>Presentation Support Added &bull; <span>Dec 4th, 2008</span></h3>
<p>Presentation support has been added to JMUtube. This will allow you to store and deploy <a href="http://www.techsmith.com/camtasia.asp" target="_blank">Camtasia</a>, <a href="http://www.adobe.com/products/captivate/" target="_blank">Adobe Captivate</a>, or <a href="http://www.adobe.com/products/presenter/" target="_blank"> Adobe Presenter</a> presentations. Just zip your presentation into a single .zip file and upload via the <a href="/accounts/media/upload/">Upload</a> tab. In fact, you can actually upload just about any website as long as there's a single .html file in the root directory or one named index.html.</p>

{% endblock %}
